extends ./parts/layout.pug

prepend meta
    title jim jimmy
    
block main-wrapper
    .contact-page
        //- section banner top
        section.banner-top
            .banner-top--background-full-screen
                img(src="/assets/imgs/default/banner-contact.png", alt="banner-top")
                .banner-top--content
                    .content-h1 
                        h1.banner-top--content--title-h1 Contact
                    .banner-top--content--description 
                        p Hand crafted in York our beautiful marquees bring timeless elegance to your celebration and an atmosphere of  luxury to make your party perfect.
        //-section main contact
        section.contact-main
            .container
                h4.gallery-title-h4 Contact information
                .line-under
                .contact-main--content-group
                    .contact-main--content-group-col-left
                        .cont-information
                            .cont-information--hotline Hotline:
                                a(href="tel:+07786984582")  07786 984582
                            .cont-information--office Office: Kemp House, 152 City Road, London, EC1V 2NX
                            .cont-information--email Email: 
                                a(href="mailto:sales@jimjimmy.co.uk") sales@jimjimmy.co.uk
                            .cont-information--messenger Messenger: 
                                a(href="m.me/jimjimmymarquees") m.me/jimjimmymarquees
                        .cont-description
                            p Beautiful hand crafted marquees seating 120 - 300 guests in a romantic atmosphere of timeless elegance. For hire across Southern and South West England.
                    .contact-main--content-group-col-right
                        .contact-us--cont-contact-form
                            form(action="javascript:void(0)")
                                input(type="text",name="ten",placeholder="Your Name",required).name-input 
                                br
                                input(type="email",name="email",placeholder="Email Address",required).email-input
                                br
                                textarea(name="messager", cols="30", rows="3", placeholder="Your Messager",required).message-input
                                .btn-send SEND US
                                output.effect-after-send
        //-section instagram
        section.instagram
            .container
                h5.instagram--title-h5 Check out our Instagram
                .instagram--cont-icon
                    a(href="#")
                        img(src="/assets/imgs/default/icon-instagram.png", alt="icon-instagram")
            .row
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/instagram.png", alt="")
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/wills-1.png", alt="")
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/wills-2.png", alt="")
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/wills.png", alt="")