extends ./parts/layout.pug

prepend meta
    title jim jimmy
    
block main-wrapper
    .home-page
        //- section banner top
        section.home-page--banner-top
            .home-page--banner-top--background-full-screen
                video( playsinline="" autoplay="" muted="" loop="" poster="/assets/video/poster-video-home.png")
                    source(src="/assets/video/Marquee-Homepage-22mb.mp4", type="video/mp4")
                //- img(src="/assets/imgs/default/banner-top.png", alt="banner-top")
                .home-page--banner-top--content
                    //- 37 character limit
                    .home-page--content-h1 
                        h1.home-page--banner-top--content--title-h1 Beautiful Marquees for Hire   
                    .home-page--banner-top--content--description 
                        p Hand crafted in York our beautiful marquees bring timeless elegance to your celebration and an atmosphere of  luxury to make your party perfect.
                    .btn-view-marquees 
                        a(href="our-marquees.html") VIEW MARQUEES
        //- section about
        section.home-page--about-us
            .home-page--about-us--image-behinde-section
                img(src="/assets/imgs/default/inage-behinde.png", alt="inage-behinde")
            .container
                .home-page--about-us--content-group
                    .home-page--about-us--col-left
                        .home-page--about-us--cont
                            h4.home-page--about-us--title-h4 About us
                            .line-under
                            .home-page--about-us--description 
                                p Friends Jim and Jimmy founded JimJimmy Marquees with a shared vision to create an exciting outdoor business built on the values of collaborative and respectful customer service, beautifully made products, sustainability and...fun.
                            a(href="about-us.html")
                                .btn-read-more READ MORE
                    .home-page--about-us--col-right
                        .home-page--about-us--cont-image
                            img(src="/assets/imgs/default/about.png", alt="about")
        //- section our marquees
        section.home-page--our-marquees
            .home-page--our-marquees--image-behinde-section
                img(src="/assets/imgs/default/image-behinde-1.png", alt="inage-behinde")
            .container
                .home-page--our-marquees--cont-group
                    a(href="our-marquees.html")
                        .btn-view-all VIEW ALL
                    h4.our-marquees--title-h4 Our Marquees
                    .line-under
                    .home-page--our-marquess--slick
                        .row.row-custom-1.row-custom
                            .col-lg-4.col-md-4.col-sm-12.col-12
                                .home-page--our-marquees--cont-image
                                    img(src="/assets/imgs/default/wills.png", alt="wills")
                            .col-lg-8.col-md-8.col-sm-12.col-12
                                .home-page--our-marquees--cont-group-box
                                    h5.home-page--our-marquees--title-h5 Wills 9/23
                                    .home-page--our-marquees--descripton 
                                        p Hand made in York with painstaking attention to detail our beautiful pole-tents feature breathable canvas canopies and posses a timeless elegance that will bring an evocative aura of luxury to your celebration.
                                    a(href="single-our-marquees.html")
                                        .btn-view-detail VIEW DETAIL
                        .row.row-custom-2.row-custom
                            .col-lg-4.col-md-4.col-sm-12.col-12
                                .home-page--our-marquees--cont-image
                                    img(src="/assets/imgs/default/wills-1.png", alt="wills-1")
                            .col-lg-8.col-md-8.col-sm-12.col-12
                                .home-page--our-marquees--cont-group-box
                                    h5.home-page--our-marquees--title-h5 Wills 9/30
                                    .home-page--our-marquees--descripton 
                                        p Hand made in York with painstaking attention to detail our beautiful pole-tents feature breathable canvas canopies and posses a timeless elegance that will bring an evocative aura of luxury to your celebration.
                                    a(href="single-our-marquees.html")
                                        .btn-view-detail VIEW DETAIL
                        .row.row-custom-3.row-custom
                            .col-lg-4.col-md-4.col-sm-12.col-12
                                .home-page--our-marquees--cont-image
                                    img(src="/assets/imgs/default/wills-2.png", alt="wills-2")
                            .col-lg-8.col-md-8.col-sm-12.col-12
                                .home-page--our-marquees--cont-group-box
                                    h5.home-page--our-marquees--title-h5 Wills 12/20
                                    .home-page--our-marquees--descripton 
                                        p Hand made in York with painstaking attention to detail our beautiful pole-tents feature breathable canvas canopies and posses a timeless elegance that will bring an evocative aura of luxury to your celebration.
                                    a(href="single-our-marquees.html")
                                        .btn-view-detail VIEW DETAIL
                        
        //- section gallery
        section.gallery
            .container
                h4.gallery-title-h4 Gallery
                .line-under
                .gallery--main-nav-menu
                    -
                        let data_menu = [
                            {href:"#",label:"ALL"},
                            {href:"#",label:"360 marquee"},
                            {href:"#",label:"exterior"},
                            {href:"#",label:"interior"},
                            {href:"#",label:"furniture"},
                            {href:"#",label:"lighting"},
                        ]
                    ul 
                        each item in data_menu
                            li
                                a(href=item.href)=item.label
                .gallery--content-group  
                    -
                        let data_image = [
                            {src:"/assets/imgs/default/gallery.png", alt:"gallery"},
                            {src:"/assets/imgs/default/gallery-1.png", alt:"gallery-1"},
                            {src:"/assets/imgs/default/gallery-2.png", alt:"gallery-2"},
                            {src:"/assets/imgs/default/gallery-3.png", alt:"gallery-3"},
                            {src:"/assets/imgs/default/gallery-4.png", alt:"gallery-4"},
                            {src:"/assets/imgs/default/gallery-5.png  ", alt:"wills-5"}
                        ]
                    .row.row-custom
                        each item in data_image
                            .col-lg-4.col-md-4.col-sm-12.col-12.col-custom
                                .gallery--cont-image
                                    .background--hidden
                                    .background-hover
                                        .content-group
                                            .cont-icon
                                                img(src="/assets/imgs/default/icon-3d.png", alt="icon-3d")
                                            .cont-text EXPLORE 3D SPACE
                                    img(src=item.src,alt=item.alt)
                    a(href="gallery.html")
                        .btn-view-more VIEW MORE
        //-section slider
        section.slide-text
            .slide-text--background-image
                img(src="/assets/imgs/default/image-behinde-slide.png", alt="image-behinde-slide")
            .slide-text--background-color
            .container
                .slide-text--content-big-group
                    .slide-text--cont-icon
                        img(src="/assets/imgs/default/Shape.png", alt="shape")
                    .slide-text--content-group
                        .slide-text--content-slide
                            .content
                                p A huge Thank You to you for your fantastic service. I really was a professional, seamless operation, we had absolute confidence as soon as we met you, and we enjoyed having you ‘on site’ before and after the day. We had a fantastic time and we would not hesitate to recommend you. Great selection and availability of equipment to order.
                                .slider-author Anne - Somerset
                        .slide-text--content-slide 
                            .content
                                p  A huge Thank You to you for your fantastic service. I really was a professional, seamless operation, we had absolute confidence as soon as we met you, and we enjoyed having you ‘on site’ before and after the day. We had a fantastic time and we would not hesitate to recommend you. Great selection and availability of equipment to order.
                                .slider-author Anne - Somerset
                        .slide-text--content-slide 
                            .content
                                p A huge Thank You to you for your fantastic service. I really was a professional, seamless operation, we had absolute confidence as soon as we met you, and we enjoyed having you ‘on site’ before and after the day. We had a fantastic time and we would not hesitate to recommend you. Great selection and availability of equipment to order.
                                .slider-author Anne - Somerset
        //-section instagram
        section.instagram
            .container
                h5.instagram--title-h5 Check out our Instagram
                .instagram--cont-icon
                    a(href="#")
                        img(src="/assets/imgs/default/icon-instagram.png", alt="icon-instagram")
            .row
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/instagram.png", alt="")
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/wills-1.png", alt="")
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/wills-2.png", alt="")
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/wills.png", alt="")
            
