extends ./parts/layout.pug

prepend meta
    title jim jimmy
    
block main-wrapper
    .marquees-page
        //- section banner top
        section.banner-top
            .banner-top--background-full-screen
                img(src="/assets/imgs/default/banner-marquees.png", alt="banner-top")
                .banner-top--content
                    .content-h1 
                        h1.banner-top--content--title-h1 Our marquees
                    .banner-top--content--description 
                        p Hand crafted in York our beautiful marquees bring timeless elegance to your celebration and an atmosphere of  luxury to make your party perfect.
        //- section our marquees home-page--our-marquees
        section.main--our-marquees
            .main--our-marquees--image-behinde-section
                img(src="/assets/imgs/default/image-behinde-1.png", alt="inage-behinde")
            .container
                .main--our-marquees--cont-group
                    h4.our-marquees--title-h4 Beauty Marquees Gallery
                    .line-under
                    .main--our-marquess--slick
                        .row.row-custom-1.row-custom
                            .col-lg-4.col-md-4.col-sm-12.col-12
                                .main--our-marquees--cont-image
                                    img(src="/assets/imgs/default/post-marquees.png", alt="wills")
                            .col-lg-8.col-md-8.col-sm-12.col-12
                                .main--our-marquees--cont-group-box
                                    h5.main--our-marquees--title-h5 Wills 9/23
                                    .main--our-marquees--descripton 
                                        p Hand made in York with painstaking attention to detail our beautiful pole-tents feature breathable canvas canopies and posses a timeless elegance that will bring an evocative aura of luxury to your celebration.
                                    a(href="single-our-marquees.html")
                                        .btn-view-detail VIEW DETAIL
                        .row.row-custom-2.row-custom
                            .col-lg-4.col-md-4.col-sm-12.col-12
                                .main--our-marquees--cont-image
                                    img(src="/assets/imgs/default/wills-1.png", alt="wills-1")
                            .col-lg-8.col-md-8.col-sm-12.col-12
                                .main--our-marquees--cont-group-box
                                    h5.main--our-marquees--title-h5 Wills 9/30
                                    .main--our-marquees--descripton 
                                        p Hand made in York with painstaking attention to detail our beautiful pole-tents feature breathable canvas canopies and posses a timeless elegance that will bring an evocative aura of luxury to your celebration.
                                    a(href="single-our-marquees.html")
                                        .btn-view-detail VIEW DETAIL
                        .row.row-custom-3.row-custom
                            .col-lg-4.col-md-4.col-sm-12.col-12
                                .main--our-marquees--cont-image
                                    img(src="/assets/imgs/default/post-marquees-1.png", alt="wills-2")
                            .col-lg-8.col-md-8.col-sm-12.col-12
                                .main--our-marquees--cont-group-box
                                    h5.main--our-marquees--title-h5 Wills 12/20
                                    .main--our-marquees--descripton 
                                        p Hand made in York with painstaking attention to detail our beautiful pole-tents feature breathable canvas canopies and posses a timeless elegance that will bring an evocative aura of luxury to your celebration.
                                    a(href="single-our-marquees.html")
                                        .btn-view-detail VIEW DETAIL
                        .row.row-custom-4.row-custom
                            .col-lg-4.col-md-4.col-sm-12.col-12
                                .main--our-marquees--cont-image
                                    img(src="/assets/imgs/default/gallery-2.png", alt="wills-2")
                            .col-lg-8.col-md-8.col-sm-12.col-12
                                .main--our-marquees--cont-group-box
                                    h5.main--our-marquees--title-h5 Wills 12/27
                                    .main--our-marquees--descripton 
                                        p Hand made in York with painstaking attention to detail our beautiful pole-tents feature breathable canvas canopies and posses a timeless elegance that will bring an evocative aura of luxury to your celebration.
                                    a(href="single-our-marquees.html")
                                        .btn-view-detail VIEW DETAIL
                        .row.row-custom-5.row-custom
                            .col-lg-4.col-md-4.col-sm-12.col-12
                                .main--our-marquees--cont-image
                                    img(src="/assets/imgs/default/gallery-5.png", alt="wills-2")
                            .col-lg-8.col-md-8.col-sm-12.col-12
                                .main--our-marquees--cont-group-box
                                    h5.main--our-marquees--title-h5 Wills 12/34
                                    .main--our-marquees--descripton 
                                        p Hand made in York with painstaking attention to detail our beautiful pole-tents feature breathable canvas canopies and posses a timeless elegance that will bring an evocative aura of luxury to your celebration.
                                    a(href="single-our-marquees.html")
                                        .btn-view-detail VIEW DETAIL
        //-section slider
        section.slide-text
            .slide-text--background-image
                img(src="/assets/imgs/default/image-behinde-slide.png", alt="image-behinde-slide")
            .slide-text--background-color
            .container
                .slide-text--content-big-group
                    .slide-text--cont-icon
                        img(src="/assets/imgs/default/Shape.png", alt="shape")
                    .slide-text--content-group
                        .slide-text--content-slide
                            .content
                                p A huge Thank You to you for your fantastic service. I really was a professional, seamless operation, we had absolute confidence as soon as we met you, and we enjoyed having you ‘on site’ before and after the day. We had a fantastic time and we would not hesitate to recommend you. Great selection and availability of equipment to order.
                                .slider-author Anne - Somerset
                        .slide-text--content-slide 
                            .content
                                p  A huge Thank You to you for your fantastic service. I really was a professional, seamless operation, we had absolute confidence as soon as we met you, and we enjoyed having you ‘on site’ before and after the day. We had a fantastic time and we would not hesitate to recommend you. Great selection and availability of equipment to order.
                                .slider-author Anne - Somerset
                        .slide-text--content-slide 
                            .content
                                p A huge Thank You to you for your fantastic service. I really was a professional, seamless operation, we had absolute confidence as soon as we met you, and we enjoyed having you ‘on site’ before and after the day. We had a fantastic time and we would not hesitate to recommend you. Great selection and availability of equipment to order.
                                .slider-author Anne - Somerset
        //-section instagram
        section.instagram
            .container
                h5.instagram--title-h5 Check out our Instagram
                .instagram--cont-icon
                    a(href="#")
                        img(src="/assets/imgs/default/icon-instagram.png", alt="icon-instagram")
            .row
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/instagram.png", alt="")
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/wills-1.png", alt="")
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/wills-2.png", alt="")
                .col-lg-3.col-md-6.col-sm-12.col-12.col-custom
                    img(src="/assets/imgs/default/wills.png", alt="")