.common-footer
    footer.footer#footer
        .container
            .main-footer
                .footer--cont-logo
                    a(href="index.html")
                        img(src="assets/imgs/default/logo-pink.png", alt="image-logo")
                .footer--content-information
                        ul.row
                            li.col-lg-3.col-md-4.col-sm-12.col-12
                                a(href="our-marquees.html") jimjimmy Marquees
                            li.col-lg-3.col-md-4.col-sm-12.col-12
                                a(href="#" title="tel+11701643") Company Number 11701643
                            li.col-lg-3.col-md-4.col-sm-12.col-12
                                a(href="#" title="tel+4407799582282") +44 (0) 7799 582 282
                            li.col-lg-3.col-md-4.col-sm-12.col-12
                                a(href="#" title="mailto:jim@jimjimmy.co.uk") jim@jimjimmy.co.uk
            .footer--copyright
                .footer--copyright--col-left  © 2019 by JimJimmy Ltd
                .footer--copyright--col-right
                    .footer--col-right--cont-social-network
                        ul
                            li
                                a(href="http://facebook.com" target="_brank")
                                    img(src="assets/imgs/default/facebook.png", alt="icon-social-network")
                            li
                                a(href="http://twitter.com/" target="_brank")
                                    img(src="assets/imgs/default/twice.png", alt="con-social-network")
                            li
                                a(href="https://www.linkedin.com/" target="_brank")
                                    img(src="assets/imgs/default/LinkedIn.png", alt="con-social-network")
                            li
                                a(href="http://youtube.com" target="_brank")
                                    img(src="assets/imgs/default/youtube.png", alt="con-social-network")