.common-header
    header.header-mobile#header
        .container
            .header-mobile--content-header
                .header-mobile--content-header--cont-logo
                    a(href="index.html")
                        img(src="assets/imgs/default/logo-white.png", alt="image-logo")
                .header-mobile--content-header--cont-logo-1
                    a(href="index.html")
                        img(src="assets/imgs/default/logo-pink.png", alt="image-logo")       
                .header-mobile--content-header--cont-menu-bar
                    .btn-bar
                        .icon-menu
                        .close-icon-menu
    header.header-desktop#header
        .header-desktop--content-header
            .header-desktop--content-header--col-left
                .header-desktop--content-header--col-left--cont-logo  
                    a(href="index.html")
                        img(src="assets/imgs/default/logo-white.png", alt="image-logo")
                .header-desktop--content-header--col-left--cont-logo-1 
                    a(href="index.html")
                        img(src="assets/imgs/default/logo-pink.png", alt="image-logo")
            .header-desktop--content-header--col-right
                .header-desktop--content-header--col-right--main-nav-menu
                    -
                        let main_menu = [
                            {href:"index.html", label:"Home"},
                            {href:"about-us.html", label:"About us"},
                            {href:"gallery.html", label:"Gallery"},
                            {href:"our-marquees.html", label:"Our marquees"},
                            {href:"field-notes.html", label:"Field notes"},
                            {href:"contact-us.html", label:"Contact us"},
                            {href:"get-intouch.html", label:"GET IN TOUCH"}
                        ]
                    ul.main-nav-menu
                        each item in main_menu
                            li.main-nav-menu--field
                                a(href=item.href)=item.label
                    .footer--copyright
                        .footer--copyright--col-right
                            .footer--col-right--cont-social-network
                                ul.footer-mobile
                                    li
                                        a(href="http://facebook.com" target="_brank")
                                            img(src="assets/imgs/default/facebook.png", alt="icon-social-network")
                                    li
                                        a(href="http://twitter.com/" target="_brank")
                                            img(src="assets/imgs/default/twice.png", alt="con-social-network")
                                    li
                                        a(href="https://www.linkedin.com/" target="_brank")
                                            img(src="assets/imgs/default/LinkedIn.png", alt="con-social-network")
                                    li
                                        a(href="http://youtube.com" target="_brank")
                                            img(src="assets/imgs/default/youtube.png", alt="con-social-network")
                            .footer--copyright--col-left  © 2019 by JimJimmy Ltd
